@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@theme {
  --font-playfair: "Playfair Display", serif;
  --font-DM-Sans: "DM Sans", sans-serif;
  --color-fire: #c0420a;
  --color-ember: #e8721a;
  --color-gold: #d4a027;
  --color-dark: #1a1008;
  --color-cream: #fbf6ee;
  --color-smoke: #6b5b4a;
}
